.linkContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.linkContainer .link {
    background-color: lightgrey;
    padding: 4px 14px;
    margin: 5px;
    color: black;
    flex:1;
    border-radius: 5px;
    cursor: pointer;
    min-width: 20%;
    display: flex;
    align-items: center;

  }
  .linkContainer .link .icon {
    margin-right: 5px;
  }

  .linkContainer .link:hover {
    background-color: #f1f1f1;
    color: #000;
  }


