.skillContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: 'center';
}
.skillItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin:8px 5px;
  background-color: aliceblue;
  color:#151c3a ;
  padding: 2px 8px;
  border-radius: 5px;
  ;
}

.skillItem .name {
  margin-right: 10px;
  font-size: 12px;
}
