html,
body {
  background-color: #151c3a;
  overflow-x: hidden;
  margin: auto;
  color: #ced6e0;
  scroll-behavior: smooth;
  font-weight: 300;
  font-family: serif;
    line-height: 1.75em;
}

.appContainer {
  max-width: 42rem;
}
.children {
  padding:1rem
}


.appContainer #userInfo {
  text-align: center;
  border-bottom: 1px dotted;
  padding-bottom: 10px;
}
.avtarImg {
  border-radius: 50%;
  object-fit: cover;
}

#userInfo h1, h5{
  padding:0;
  margin: 0;
}

a {
  color:gray
}

a:hover {
  color: white;
}

@media only screen and (min-width: 640px) {
  .appContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .appContainer {
    width: 100vw;
  }
}
